@import "tailwindcss";

@theme {
  --color-acmblue: #00397aff;
  --color-acmlightblue: #83a8ecff;
  --color-acmorange: #ea9571ff;
  --color-acmgreen: #8cba9bff;
  --color-acmpink: #c9697fff;
  --color-white: #f2fdff
}