# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: 'Deployment'
on:
  push:
    branches:
      - main

jobs:
  deploy:
    permissions:
      contents: read
      deployments: write
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "yarn"

      - name: Restore Yarn Cache
        uses: actions/cache@v4
        with:
          path: | 
            node_modules/
            ${{ github.workspace }}/.next/cache
          key: yarn-modules-${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}-dev
          restore-keys: |
            yarn-modules-${{ runner.arch }}-${{ runner.os }}-

      - name: Install dependencies
        run: yarn install -D --frozen-lockfile

      - name: Build with OpenNext
        run: npx opennextjs-cloudflare build

      - name: Deploy to Cloudflare
        id: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.PAGES_API_TOKEN }}
          accountId: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}